{% extends "base.html" %}
{% block content %}
  <br>
  {% for p in posts %}
    <a href="/post/{{p.key().id()}}"><h3>{{ p.subject | safe }}</h3></a>
    {{ p.content | safe }}
    <div>
    <br>
    <form method="get">
    <a style="padding:5px 15px;font-size:12px;border-radius:4px;border:1px solid;background-color: red;"
    href="/deletepost/{{p.key().id()}}">Delete Post</a>
    <a style="padding:5px 15px;font-size:12px;border-radius:4px;border:1px solid;background-color:orange;"
    href="/editpost/{{p.key().id()}}">Edit</a>
    </form>
    <br>
  </div>
    <p class="byPost">
      By: <strong>{{p.author}}</strong>
    </p>
    <br><br>
  {% endfor %}
    <a style="padding:8px 20px;font-size:16px;color:white;border-radius:6px;border:1px solid;background-color:green;"
      href="/newpost">Add Post</a>
  <br>
  <br>
  <br>
{% endblock %}
