{% extends "base.html" %}
{% block content %}
<div>
  <h4>New Post:</h4>
  <form method="post">
  <label>
    <textarea name="subject" style="width:100%;height:50px;">{{post.subject}}</textarea>
    <textarea name="content" style="width:100%;height:200px;">{{post.content}}</textarea>
  </label>
  <br>
  <input style="padding:8px 20px;font-size:16px;color:white;border-radius:6px;border:1px solid;background-color:green;"
    type="submit" value="Submit">
</form>
</div>
{% endblock %}
