{% extends "base.html" %}
{% block content %}
  {% if post %}
    <h2>{{post.subject}}</h2>
    <br>
    <span>{{post.created.strftime("%b %d, %Y %H:%M.%S")}}</span>
    <hr>
    <br>
    <p>{{post.content | safe}}</p>
    <br>
    <p><strong>Comments:</strong></p>
    {% for c in comments %}
      <div>
        <p>
            {{c.content}}
        </p>
        <form method="post" action="/deletecomment">
        <input type="hidden" value="{{ c.key().id() }}" name="com_id" />
        <input type="submit" value="Delete">
        </form>
      </div>
      <div>
        <form method="post" action="/editcomment">
          <input type="hidden" value="{{ c.key().id() }}" name="com_id" />
          <input type="submit" value="Edit" name="edit">
        </form>
      </div>
      {% endfor %}
    <br>
   <form method="post" action="/newcomment">
   <label>
     <div>Add Comment</div>
     <input type="hidden" value="{{post.key().id()}}" name="post_id" />
     <textarea name="content"></textarea>
   </label>
   <br>
   <input type="submit" value="Submit">
 </form>
 <br>
  <input type="submit" value="Like" name="like">

  <br>
  <br>
  <br>
 {% endif %}
{% endblock %}
