{% extends "base.html" %}
{% block content %}
  {% if post %}
    <h2>{{post.subject}}</h2>
    <br>
    <span>{{post.created.strftime("%b %d, %Y %H:%M.%S")}}</span>
    <hr>
    <br>
    <p>{{post.content | safe}}</p>
   <form method="post" action="/newcomment">
   <label>
     <div>Add Comment</div>
     <input type="hidden" value="{{post.key().id()}}" name="post_id" />
     <textarea name="content"></textarea>
   </label>
   <br>
   <input type="submit" value="Submit">
 </form>
 {% endif %}
 {% for c in comments %}
   <div>
     <h3>
         {{c.content}}
     </h3>
   </div>
   {% endfor %}
{% endblock %}
