{% extends "base.html" %}
{% block content %}
  {% if post %}
    <h2>{{post.subject}}</h2>
    <br>
    <span>{{post.created.strftime("%b %d, %Y %H:%M.%S")}}</span>
    <hr>
    <br>
    <p>{{post.content | safe}}</p>
    <br>
    <form method="post" action="/like">
    <input type="hidden" value="{{post.key().id()}}" name="post_id" />
    <input style="padding:6px 15px;font-size:10px;color:white;border-radius:6px;border:1px solid;background-color:blue;"
      type="submit" value="Like" name="like">
    </form>
    {% for i in like_nums %}
      <p>
      Likes: {{i.like_num}}
      </p>
    {% endfor %}
    <br>
    <br>
    <p><strong>Comments:</strong></p>
    {% for c in comments %}
      <div>
        <p>
            {{c.content}}
        </p>
        <form method="post" action="/deletecomment/{{c.key().id()}}">
        <input style="padding:8px 20px;font-size:10px;color:white;border-radius:6px;border:1px solid;background-color:red;"
          type="submit" value="Delete">
        </form>
        <form method="post" action="/editcomment/{{c.key().id()}}">
          <input type="hidden" value="{{ c.key().id() }}" name="com_id" />
          <input style="padding:8px 20px;font-size:10px;color:white;border-radius:6px;border:1px solid;background-color:orange;"
          type="submit" value="Edit" name="edit">
        </form>
      {% endfor %}
    </div>
    <br>
   <form method="post" action="/newcomment">
   <label>
     <div>Add Comment</div>
     <input type="hidden" value="{{post.key().id()}}" name="post_id" />
     <textarea style="width:100%;height:200px;"name="content"></textarea>
   </label>
   <br>
   <input style="padding:8px 20px;font-size:16px;color:white;border-radius:6px;border:1px solid;background-color:green;"
     type="submit" value="Submit">
   </form>
  <br>
  <br>
  <br>
  <br>
  <br>
 {% endif %}
{% endblock %}
