{% extends "base.html" %}
{% block content %}
<br>
<h3> Books and Listening Materials about Zen and Stoicism</h3>
  <br>
  <ol>
    <li><a href="https://www.youtube.com/results?search_query=Alan+Watts">Alan Watts Lectures</a></li>
    <hr>
    <li><a href="https://www.amazon.com/Alan-Watts/e/B000AP9KWO/ref=sr_tc_2_0?qid=1486683404&sr=8-2-ent">Alan Watts Books</a></li>
    <hr>
    <li><a href="http://www.audible.com/search?ref_=a_lib_tseft&sprefix=the+tao+&filterby=field-keywords&advsearchKeywords=the+tao+of+seneca&sprefixRefmarker=nb_sb_ss_i_1_8">Toa of Seneca</a></li>
    <hr>
    <li><a href="https://www.amazon.com/s/ref=nb_sb_ss_rsis_1_3?url=search-alias%3Daps&field-keywords=stoicism&sprefix=Sto%2Caps%2C303">Stoicism Books</a></li>
    <hr>
  </ol>
{% endblock %}
