<!DOCTYPE html>
<html>
 <head>
  <title>Blog</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link type="text/css" rel="stylesheet" href="/static/style.css" />
 </head>
<body>
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-2"></div>
   <div class="col-md-8">
    <div class="login-area">
     {% if user %}
         {{ user.username }} (<a class="login-text" href="/logout">Logout</a>)
     {% else %}
       <a class="login-text" href="/login">Login</a>
       |
       <a class="login-text" href="/signup">SignUp</a>
     {% endif %}
     </div>
     <div class="title">The Zen Stoic</div>
      <ul class="NavBar">
       <li><a href="/">Home</a></li>
       <li><a href="/blog">Blog</a></li>
       <li><a href="/about">About</a></li>
       <li><a href="/resources">Resources</a></li>
      </ul>
     <div class="content">
     {% block content %}
     {% endblock %}
     </div>
    </div>
   <div class="col-md-2"></div>
  </div>
 </div>
</body>
</html>
